# Leading Living Standards Index
The objective of the Global Leading Living Standards Index is to compile a list of the best countries to reside in. To accomplish this, an analysis will be conducted using a set of 48 distinct metrics. These metrics include various indices, surveys, and annual data points which cover different living standard contributors.

## 1) Converting raw data to scores
Data is collected in its raw format using various web scraping scripts, utilising Python's Beautiful Soup and Selenium libraries. Once the data is collected, it needs to be standardised to convert raw scores into a value between 0 and 1. This is achieved by using min-max standardisation.


## 2) Calculation of subindex scores
Each indicator is assigned to one of the four subindices ('Economic health and stability,' 'Quality of Life,' 'Cost of Living,' 'Growth and Development'). Within each subindex, all indicators are given a relative subindex weighting that represents the relevance and importance of each data point. For example, within the Quality of life subindex, indicators such as happiness and freedom index scores will have a much more significant impact on the overall quality of life compared to indicators such as the amount of rainfall that falls annually or the proportion of the labour force in a country's army.
## 3) Calculation of final scores
Once a final score is calculated for each subindex, the four subindices are assigned their respective relative weightings and then combined to derive a final index score.

### Converting raw data to scores

In [1]:
import pandas as pd
from functools import reduce
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import inflect

To begin with, we import data from various data sources that are stored in separate Excel CSV files. These files are then merged together to create a single data frame that contains all the necessary data.

In [2]:
wb_data = pd.read_csv(r"raw_data/world_bank.csv", encoding = "ISO-8859-1")

In [3]:
wb_data.head()

,country,indicator,better_higher_lower,2000,2005,2010,2015,2019,2020,2021
0,Argentina,Access to electricity (% of population),higher,95.783287,96.863846,98.820000,99.625389,100.000000,100.0,NaN
1,Australia,Access to electricity (% of population),higher,100.000000,100.000000,100.000000,100.000000,100.000000,100.0,NaN
2,Austria,Access to electricity (% of population),higher,100.000000,100.000000,100.000000,100.000000,100.000000,100.0,NaN
3,Belgium,Access to electricity (% of population),higher,100.000000,100.000000,100.000000,100.000000,100.000000,100.0,NaN
4,Brazil,Access to electricity (% of population),higher,94.391716,97.093513,98.599998,99.710899,99.800003,100.0,NaN

The World Bank data provides metrics for the years 2000, 2005, 2010, 2015, 2019, 2020, and 2021. However, it's important to note that not all countries have data available for the most recent year (2021). Therefore, we need to identify the latest available year for each indicator and country to ensure accurate data representation.

In [4]:
def get_latest_value(row):
    years = ['2021', '2020', '2019', '2015', '2010', '2005', '2000']
    for year in years:
        if pd.notnull(row[year]):
            return row[year]
    return None

In [5]:
wb_data['latest_value'] = wb_data.apply(get_latest_value, axis=1)

In [6]:
wb_data.head()

,country,indicator,better_higher_lower,2000,2005,2010,2015,2019,2020,2021,latest_value
0,Argentina,Access to electricity (% of population),higher,95.783287,96.863846,98.820000,99.625389,100.000000,100.0,NaN,100.0
1,Australia,Access to electricity (% of population),higher,100.000000,100.000000,100.000000,100.000000,100.000000,100.0,NaN,100.0
2,Austria,Access to electricity (% of population),higher,100.000000,100.000000,100.000000,100.000000,100.000000,100.0,NaN,100.0
3,Belgium,Access to electricity (% of population),higher,100.000000,100.000000,100.000000,100.000000,100.000000,100.0,NaN,100.0
4,Brazil,Access to electricity (% of population),higher,94.391716,97.093513,98.599998,99.710899,99.800003,100.0,NaN,100.0

Removing yearly columns.

In [7]:
wb_data.drop(columns=['2000', '2005', '2010', '2015', '2019', '2020', '2021'], inplace=True)

In [8]:
wb_data.head()

,country,indicator,better_higher_lower,latest_value
0,Argentina,Access to electricity (% of population),higher,100.0
1,Australia,Access to electricity (% of population),higher,100.0
2,Austria,Access to electricity (% of population),higher,100.0
3,Belgium,Access to electricity (% of population),higher,100.0
4,Brazil,Access to electricity (% of population),higher,100.0

Combining other metrics from trading economics, numbeo and other sources.

In [9]:
te_cols = ['country', 'indicator', 'better_higher_lower', 'latest_value']
te_data = pd.read_csv(r"raw_data/trading_economics.csv", encoding = "ISO-8859-1", usecols=te_cols)

In [10]:
te_data.head()

     country            indicator better_higher_lower  latest_value
0  Australia  Business Confidence              higher           0.0
1    Austria  Business Confidence              higher          -7.5
2    Belgium  Business Confidence              higher          -7.8
3     Brazil  Business Confidence              higher          48.8
4   Bulgaria  Business Confidence              higher          24.8

In [11]:
num_cols = ['country', 'indicator', 'better_higher_lower', 'latest_value']
num_data = pd.read_csv(r"raw_data/numbeo.csv", encoding = "ISO-8859-1", usecols=num_cols)

In [12]:
num_data.head()

     country                 indicator better_higher_lower  latest_value
0  Argentina  Rent cost index (points)               lower           6.9
1  Australia  Rent cost index (points)               lower          39.0
2    Austria  Rent cost index (points)               lower          23.1
3    Belgium  Rent cost index (points)               lower          22.4
4     Brazil  Rent cost index (points)               lower           8.3

In [13]:
other_cols = ['country', 'indicator', 'better_higher_lower', 'latest_value']
other_cols = pd.read_csv(r"raw_data/other_sources.csv", encoding = "ISO-8859-1", usecols=other_cols)

In [14]:
other_cols.head()

,country,indicator,better_higher_lower,latest_value
0,Argentina,Vulnerability and exposure to natural hazards,lower,0.1561
1,Australia,Vulnerability and exposure to natural hazards,lower,0.2136
2,Austria,Vulnerability and exposure to natural hazards,lower,0.0114
3,Belgium,Vulnerability and exposure to natural hazards,lower,0.0416
4,Brazil,Vulnerability and exposure to natural hazards,lower,0.1215

In [15]:
all_data = (pd.concat([wb_data, te_data, num_data, other_cols])
            .reset_index(drop=True)
            .drop_duplicates(subset=['country', 'indicator']))

In [16]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1968 entries, 0 to 1967
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country              1968 non-null   object
 1   indicator            1968 non-null   object
 2   better_higher_lower  1968 non-null   object
 3   latest_value         1933 non-null   float64
dtypes: float64(1), object(3)
memory usage: 61.6+ KB

We need to get the minimum and maximum country scores for each indicator for min max standardisation.

In [17]:
all_data['min'] = all_data.groupby('indicator')['latest_value'].transform('min')
all_data['max'] = all_data.groupby('indicator')['latest_value'].transform('max')

In [18]:
all_data.head()

,country,indicator,better_higher_lower,latest_value,min,max
0,Argentina,Access to electricity (% of population),higher,100.0,96.704636,100.0
1,Australia,Access to electricity (% of population),higher,100.0,96.704636,100.0
2,Austria,Access to electricity (% of population),higher,100.0,96.704636,100.0
3,Belgium,Access to electricity (% of population),higher,100.0,96.704636,100.0
4,Brazil,Access to electricity (% of population),higher,100.0,96.704636,100.0

Ranking countries by indicator based on if score is better higher or lower.

In [19]:
all_data.loc[all_data['better_higher_lower'] == 'higher', 'rank'] = (all_data
                                                                     .groupby('indicator', as_index=False)['latest_value']
                                                                     .rank(method='min', ascending=False))

In [20]:
all_data.loc[all_data['better_higher_lower'] == 'lower', 'rank'] = (all_data
                                                                    .groupby('indicator', as_index=False)['latest_value']
                                                                    .rank(method='min', ascending=True))

In [21]:
all_data.head()

,country,indicator,better_higher_lower,latest_value,min,max,rank
0,Argentina,Access to electricity (% of population),higher,100.0,96.704636,100.0,1.0
1,Australia,Access to electricity (% of population),higher,100.0,96.704636,100.0,1.0
2,Austria,Access to electricity (% of population),higher,100.0,96.704636,100.0,1.0
3,Belgium,Access to electricity (% of population),higher,100.0,96.704636,100.0,1.0
4,Brazil,Access to electricity (% of population),higher,100.0,96.704636,100.0,1.0

Standardise scores by indicator based on if score is better higher or lower.

In [22]:
all_data.loc[all_data['better_higher_lower'] == 'higher', 'standardized_score'] = (all_data['latest_value'] - all_data['min']) /  (all_data['max'] - all_data['min'])

In [23]:
all_data.loc[all_data['better_higher_lower'] == 'lower', 'standardized_score'] = 1 - (all_data['latest_value'] - all_data['min']) /  (all_data['max'] - all_data['min'])

In [24]:
all_data.head()

,country,indicator,better_higher_lower,latest_value,min,max,rank,standardized_score
0,Argentina,Access to electricity (% of population),higher,100.0,96.704636,100.0,1.0,1.0
1,Australia,Access to electricity (% of population),higher,100.0,96.704636,100.0,1.0,1.0
2,Austria,Access to electricity (% of population),higher,100.0,96.704636,100.0,1.0,1.0
3,Belgium,Access to electricity (% of population),higher,100.0,96.704636,100.0,1.0,1.0
4,Brazil,Access to electricity (% of population),higher,100.0,96.704636,100.0,1.0,1.0

In [25]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1968 entries, 0 to 1967
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country              1968 non-null   object
 1   indicator            1968 non-null   object
 2   better_higher_lower  1968 non-null   object
 3   latest_value         1933 non-null   float64
 4   min                  1968 non-null   float64
 5   max                  1968 non-null   float64
 6   rank                 1933 non-null   float64
 7   standardized_score   1933 non-null   float64
dtypes: float64(5), object(3)
memory usage: 123.1+ KB

Fill in missing values with subindex mean score.

In [26]:
all_data['mean'] = all_data.groupby('indicator')['standardized_score'].transform('mean')

In [27]:
all_data.head()

,country,indicator,better_higher_lower,latest_value,min,max,rank,standardized_score,mean
0,Argentina,Access to electricity (% of population),higher,100.0,96.704636,100.0,1.0,1.0,0.944981
1,Australia,Access to electricity (% of population),higher,100.0,96.704636,100.0,1.0,1.0,0.944981
2,Austria,Access to electricity (% of population),higher,100.0,96.704636,100.0,1.0,1.0,0.944981
3,Belgium,Access to electricity (% of population),higher,100.0,96.704636,100.0,1.0,1.0,0.944981
4,Brazil,Access to electricity (% of population),higher,100.0,96.704636,100.0,1.0,1.0,0.944981

In [28]:
all_data.loc[all_data['standardized_score'].isna(), 'standardized_score'] = all_data['mean']

In [29]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1968 entries, 0 to 1967
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country              1968 non-null   object
 1   indicator            1968 non-null   object
 2   better_higher_lower  1968 non-null   object
 3   latest_value         1933 non-null   float64
 4   min                  1968 non-null   float64
 5   max                  1968 non-null   float64
 6   rank                 1933 non-null   float64
 7   standardized_score   1968 non-null   float64
 8   mean                 1968 non-null   float64
dtypes: float64(6), object(3)
memory usage: 138.5+ KB

### Calculation of subindex scores

Add indicator id, subindex, area, total and subindex weights to indicators.

In [30]:
weights = pd.read_csv(r"weights.csv", encoding = "ISO-8859-1")

In [31]:
weights.head()

,id,indicator,subindex,area,subindex_weight,total_weight
0,1,GDP per Capita PPP,Economy,All,0.30,0.06
1,2,Unemployment Rate,Economy,All,0.20,0.04
2,3,Inflation Rate,Economy,All,0.15,0.03
3,4,Local purchasing power index (points),Economy,All,0.15,0.03
4,5,Average monthly wage,Economy,All,0.10,0.02

In [32]:
final_data = pd.merge(all_data, weights, on='indicator').drop(columns=['better_higher_lower', 'latest_value', 'min', 'max', 'mean'])

In [33]:
final_data.head()

,country,indicator,rank,standardized_score,id,subindex,area,subindex_weight,total_weight
0,Argentina,Access to electricity (% of population),1.0,1.0,32,Quality of Life,Poverty and Equality,0.1,0.01
1,Australia,Access to electricity (% of population),1.0,1.0,32,Quality of Life,Poverty and Equality,0.1,0.01
2,Austria,Access to electricity (% of population),1.0,1.0,32,Quality of Life,Poverty and Equality,0.1,0.01
3,Belgium,Access to electricity (% of population),1.0,1.0,32,Quality of Life,Poverty and Equality,0.1,0.01
4,Brazil,Access to electricity (% of population),1.0,1.0,32,Quality of Life,Poverty and Equality,0.1,0.01

In [34]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1968 entries, 0 to 1967
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             1968 non-null   object
 1   indicator           1968 non-null   object
 2   rank                1933 non-null   float64
 3   standardized_score  1968 non-null   float64
 4   id                  1968 non-null   int64
 5   subindex            1968 non-null   object
 6   area                1968 non-null   object
 7   subindex_weight     1968 non-null   float64
 8   total_weight        1968 non-null   float64
dtypes: float64(4), int64(1), object(4)
memory usage: 138.5+ KB

Get subindex and total weighted scores.

In [35]:
final_data['subindex_score'] = final_data.standardized_score * final_data.subindex_weight

In [36]:
final_data['total_score'] = final_data.standardized_score * final_data.total_weight

In [37]:
final_data.head()

,country,indicator,rank,standardized_score,id,subindex,area,subindex_weight,total_weight,subindex_score,total_score
0,Argentina,Access to electricity (% of population),1.0,1.0,32,Quality of Life,Poverty and Equality,0.1,0.01,0.1,0.01
1,Australia,Access to electricity (% of population),1.0,1.0,32,Quality of Life,Poverty and Equality,0.1,0.01,0.1,0.01
2,Austria,Access to electricity (% of population),1.0,1.0,32,Quality of Life,Poverty and Equality,0.1,0.01,0.1,0.01
3,Belgium,Access to electricity (% of population),1.0,1.0,32,Quality of Life,Poverty and Equality,0.1,0.01,0.1,0.01
4,Brazil,Access to electricity (% of population),1.0,1.0,32,Quality of Life,Poverty and Equality,0.1,0.01,0.1,0.01

Check we have data for every indicator and all countries. There should be 48 indicators and 41 countries.

In [38]:
(final_data
 .sort_values(by='subindex_weight')
 .drop_duplicates('indicator')
 [['indicator', 'subindex_weight', 'total_score']].count())

indicator          48
subindex_weight    48
total_score        48
dtype: int64

In [39]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1968 entries, 0 to 1967
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             1968 non-null   object
 1   indicator           1968 non-null   object
 2   rank                1933 non-null   float64
 3   standardized_score  1968 non-null   float64
 4   id                  1968 non-null   int64
 5   subindex            1968 non-null   object
 6   area                1968 non-null   object
 7   subindex_weight     1968 non-null   float64
 8   total_weight        1968 non-null   float64
 9   subindex_score      1968 non-null   float64
 10  total_score         1968 non-null   float64
dtypes: float64(6), int64(1), object(4)
memory usage: 169.2+ KB

In [40]:
final_data.groupby(['indicator'])['country'].count()

indicator
Access to electricity (% of population)                                                   41
Armed forces personnel (% of total labor force)                                           41
Average monthly wage                                                                      41
Average precipitation in depth (mm per year)                                              41
Business Confidence                                                                       41
CEO health care index                                                                     41
CO2 emissions (metric tons per capita)                                                    41
Depression rate                                                                           41
Ease of doing business score (0 = lowest performance to 100 = best performance)           41
Economic freedom score                                                                    41
Exports of goods and services (annual % growth)                                           41
Full Year GDP Growth                                                                      41
GDP per Capita PPP                                                                        41
Gender wage gap (%)                                                                       41
Government expenditure on education, total (% of government expenditure)                  41
Groceries cost index (points)                                                             41
Happiness index                                                                           41
Hospital Beds                                                                             41
Individuals using the Internet (% of population)                                          41
Inflation Rate                                                                            41
Intentional homicides (per 100,000 people)                                                41
International Education Database                                                          41
International tourism, number of arrivals                                                 41
Legatum health care ranking                                                               41
Local purchasing power index (points)                                                     41
Mortality caused by road traffic injury (per 100,000 population)                          41
Mortgage affordability index                                                              41
Net migration                                                                             41
Numbeo health index                                                                       41
People using at least basic drinking water services (% of population)                     41
Personal Income Tax Rate                                                                  41
Personal freedom score                                                                    41
Physicians (per 1,000 people)                                                             41
Population growth (annual %)                                                              41
Poverty gap at $2.15 a day (2017 PPP) (%)                                                 41
Prevalence of moderate or severe food insecurity in the population (%)                    41
Price to Income Ratio (%)                                                                 41
Proportion of seats held by women in national parliaments (%)                             41
Rent cost index (points)                                                                  41
Restaurant cost index (points)                                                            41
School enrollment, tertiary (% gross)                                                     41
Share of youth not in education, employment or training, total (% of youth population)    41
Strength of legal rights index (0=weak to 12=strong)                                      41
Suicide mortality rate (per 100,000 population)                                           41
Unemployment Rate                                                                         41
Unemployment with advanced education (% of total labor force with advanced education)     41
Vulnerability and exposure to natural hazards                                             41
Women Business and the Law Index Score (scale 1-100)                                      41
Name: country, dtype: int64

In [41]:
list(final_data.subindex.unique())

['Quality of Life', 'Growth and Development', 'Economy', 'Cost of Living']

Getting economy subindex indicators and final score.

In [42]:
economy_final_ranking = (final_data[final_data.subindex=='Economy']
                         .groupby(['country'], as_index=False)['subindex_score'].sum()
                         .sort_values(by='subindex_score', ascending=False)
                         .reset_index(drop=True)
                         .assign(rank=lambda x: x.subindex_score.rank(ascending=False, method='min'),
                                 area='Final Economy Score'))

In [43]:
economy_final_ranking.reset_index(drop=True)

           country  subindex_score  rank                 area
0      Switzerland        0.887440   1.0  Final Economy Score
1          Ireland        0.794682   2.0  Final Economy Score
2    United States        0.778177   3.0  Final Economy Score
3          Denmark        0.723698   4.0  Final Economy Score
4          Germany        0.704981   5.0  Final Economy Score
5           Norway        0.694834   6.0  Final Economy Score
6      Netherlands        0.675338   7.0  Final Economy Score
7           Canada        0.667504   8.0  Final Economy Score
8        Australia        0.658398   9.0  Final Economy Score
9      Korea, Rep.        0.655711  10.0  Final Economy Score
10          Sweden        0.642914  11.0  Final Economy Score
11          France        0.613378  12.0  Final Economy Score
12           Japan        0.608917  13.0  Final Economy Score
13  United Kingdom        0.606486  14.0  Final Economy Score
14     New Zealand        0.595971  15.0  Final Economy Score
15          Israel        0.590219  16.0  Final Economy Score
16         Czechia        0.590154  17.0  Final Economy Score
17         Belgium        0.586386  18.0  Final Economy Score
18         Finland        0.580990  19.0  Final Economy Score
19         Austria        0.577229  20.0  Final Economy Score
20           Italy        0.546434  21.0  Final Economy Score
21         Estonia        0.533196  22.0  Final Economy Score
22        Slovenia        0.488465  23.0  Final Economy Score
23          Poland        0.456877  24.0  Final Economy Score
24         Hungary        0.439914  25.0  Final Economy Score
25        Portugal        0.432607  26.0  Final Economy Score
26         Croatia        0.430691  27.0  Final Economy Score
27         Romania        0.429921  28.0  Final Economy Score
28          Greece        0.429728  29.0  Final Economy Score
29        Bulgaria        0.417892  30.0  Final Economy Score
30           Spain        0.411571  31.0  Final Economy Score
31       Lithuania        0.403710  32.0  Final Economy Score
32           Chile        0.369776  33.0  Final Economy Score
33       Indonesia        0.367287  34.0  Final Economy Score
34         Uruguay        0.353562  35.0  Final Economy Score
35            Peru        0.327549  36.0  Final Economy Score
36          Brazil        0.319542  37.0  Final Economy Score
37      Costa Rica        0.317111  38.0  Final Economy Score
38          Panama        0.291440  39.0  Final Economy Score
39       Argentina        0.246261  40.0  Final Economy Score
40         Tunisia        0.222163  41.0  Final Economy Score

To obtain the indicators and final score for the 'Quality of Life' subindex, we follow a different approach compared to other subindices. The 'Quality of Life' subindex is divided into four distinct areas, each with its own area weighting (0.2, 0.1, 0.3, 0.4). Consequently, we need to separate the quality of life indicators based on their respective areas, calculate the area scores, and subsequently combine them with their relative weightings to determine the final score.

In [44]:
list(final_data['area'].unique())

['Poverty and Equality',
 'Climate, Safety and Security',
 'All',
 'Education & Healthcare',
 'Happiness and Freedom']

In [45]:
poverty_final_ranking = (final_data[final_data['area']=='Poverty and Equality']
                         .groupby(['country'], as_index=False)['subindex_score'].sum()
                         .sort_values(by='subindex_score', ascending=False)
                         .reset_index(drop=True)
                         .assign(rank=lambda x: x.subindex_score.rank(ascending=False, method='min'),
                                 area='Poverty and Equality Score',
                                 weight=0.2)
                         .assign(weighted_subindex_score=lambda x: x.weight * x.subindex_score))

In [46]:
poverty_final_ranking.head()

,country,subindex_score,rank,area,weight,weighted_subindex_score
0,Belgium,0.974434,1.0,Poverty and Equality Score,0.2,0.194887
1,Denmark,0.955482,2.0,Poverty and Equality Score,0.2,0.191096
2,Norway,0.949844,3.0,Poverty and Equality Score,0.2,0.189969
3,Sweden,0.921186,4.0,Poverty and Equality Score,0.2,0.184237
4,Netherlands,0.917701,5.0,Poverty and Equality Score,0.2,0.183540

In [47]:
climate_final_ranking = (final_data[final_data['area']=='Climate, Safety and Security']
                         .groupby(['country'], as_index=False)['subindex_score'].sum()
                         .sort_values(by='subindex_score', ascending=False)
                         .reset_index(drop=True)
                         .assign(rank=lambda x: x.subindex_score.rank(ascending=False, method='min'),
                                 area='Climate, Safety and Security Score',
                                 weight=0.1)
                         .assign(weighted_subindex_score=lambda x: x.weight * x.subindex_score))

In [48]:
climate_final_ranking.head()

,country,subindex_score,rank,area,weight,weighted_subindex_score
0,Israel,0.864160,1.0,"Climate, Safety and Security Score",0.1,0.086416
1,Sweden,0.835015,2.0,"Climate, Safety and Security Score",0.1,0.083502
2,Lithuania,0.819215,3.0,"Climate, Safety and Security Score",0.1,0.081921
3,Denmark,0.818862,4.0,"Climate, Safety and Security Score",0.1,0.081886
4,Switzerland,0.810850,5.0,"Climate, Safety and Security Score",0.1,0.081085

In [49]:
education_final_ranking = (final_data[final_data['area']=='Education & Healthcare']
                           .groupby(['country'], as_index=False)['subindex_score'].sum()
                           .sort_values(by='subindex_score', ascending=False)
                           .reset_index(drop=True)
                           .assign(rank=lambda x: x.subindex_score.rank(ascending=False, method='min'),
                                 area='Education & Healthcare Score',
                                 weight=0.3)
                           .assign(weighted_subindex_score=lambda x: x.weight * x.subindex_score))

In [50]:
education_final_ranking.head()

,country,subindex_score,rank,area,weight,weighted_subindex_score
0,Denmark,0.837026,1.0,Education & Healthcare Score,0.3,0.251108
1,Netherlands,0.759991,2.0,Education & Healthcare Score,0.3,0.227997
2,Norway,0.738555,3.0,Education & Healthcare Score,0.3,0.221566
3,Finland,0.731824,4.0,Education & Healthcare Score,0.3,0.219547
4,Japan,0.725710,5.0,Education & Healthcare Score,0.3,0.217713

In [51]:
happiness_final_ranking = (final_data[final_data['area']=='Happiness and Freedom']
                           .groupby(['country'], as_index=False)['subindex_score'].sum()
                           .sort_values(by='subindex_score', ascending=False)
                           .reset_index(drop=True)
                           .assign(rank=lambda x: x.subindex_score.rank(ascending=False, method='min'),
                                 area='Happiness and Freedom Score',
                                 weight=0.4)
                           .assign(weighted_subindex_score=lambda x: x.weight * x.subindex_score))

In [52]:
happiness_final_ranking.head()

,country,subindex_score,rank,area,weight,weighted_subindex_score
0,New Zealand,0.832955,1.0,Happiness and Freedom Score,0.4,0.333182
1,Denmark,0.784889,2.0,Happiness and Freedom Score,0.4,0.313956
2,Canada,0.764620,3.0,Happiness and Freedom Score,0.4,0.305848
3,Australia,0.751050,4.0,Happiness and Freedom Score,0.4,0.300420
4,Switzerland,0.750781,5.0,Happiness and Freedom Score,0.4,0.300312

Concatinating all 4 quality of life scores.

In [53]:
final_quality_of_life = pd.concat([poverty_final_ranking, climate_final_ranking, education_final_ranking,happiness_final_ranking])

In [54]:
final_quality_of_life.info()

<class 'pandas.core.frame.DataFrame'>
Index: 164 entries, 0 to 40
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   country                  164 non-null    object
 1   subindex_score           164 non-null    float64
 2   rank                     164 non-null    float64
 3   area                     164 non-null    object
 4   weight                   164 non-null    float64
 5   weighted_subindex_score  164 non-null    float64
dtypes: float64(4), object(2)
memory usage: 9.0+ KB

Getting total quality of life score.

In [55]:
final_qual_score = (final_quality_of_life
                    .groupby('country', as_index=False)['weighted_subindex_score'].sum()
                    .assign(rank=lambda x: x.weighted_subindex_score.rank(ascending=False, method='min'),
                            area='Final Quality of Life Score'))

In [56]:
final_qual_score.head()

     country  weighted_subindex_score  rank                         area
0  Argentina                 0.469029  37.0  Final Quality of Life Score
1  Australia                 0.737815   9.0  Final Quality of Life Score
2    Austria                 0.694426  13.0  Final Quality of Life Score
3    Belgium                 0.737908   8.0  Final Quality of Life Score
4     Brazil                 0.345392  40.0  Final Quality of Life Score

Adding final score to area scores.

In [57]:
final_quality_of_life = (pd.concat([final_quality_of_life.drop(columns=['weight', 'weighted_subindex_score']),
                                    final_qual_score.rename(columns={'weighted_subindex_score': 'subindex_score'})]))

In [58]:
final_quality_of_life.info()

<class 'pandas.core.frame.DataFrame'>
Index: 205 entries, 0 to 40
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         205 non-null    object
 1   subindex_score  205 non-null    float64
 2   rank            205 non-null    float64
 3   area            205 non-null    object
dtypes: float64(2), object(2)
memory usage: 8.0+ KB

In [59]:
final_quality_of_life.reset_index(drop=True)

            country  subindex_score  rank                                area
0           Belgium        0.974434   1.0          Poverty and Equality Score
1           Denmark        0.955482   2.0          Poverty and Equality Score
2            Norway        0.949844   3.0          Poverty and Equality Score
3            Sweden        0.921186   4.0          Poverty and Equality Score
4       Netherlands        0.917701   5.0          Poverty and Equality Score
5           Germany        0.910880   6.0          Poverty and Equality Score
6             Spain        0.908488   7.0          Poverty and Equality Score
7           Finland        0.904478   8.0          Poverty and Equality Score
8            France        0.902361   9.0          Poverty and Equality Score
9       New Zealand        0.892273  10.0          Poverty and Equality Score
10         Slovenia        0.891319  11.0          Poverty and Equality Score
11   United Kingdom        0.885572  12.0          Poverty and Equality Score
12         Portugal        0.881181  13.0          Poverty and Equality Score
13      Switzerland        0.878806  14.0          Poverty and Equality Score
14           Poland        0.878574  15.0          Poverty and Equality Score
15           Canada        0.878130  16.0          Poverty and Equality Score
16          Austria        0.866018  17.0          Poverty and Equality Score
17          Czechia        0.864686  18.0          Poverty and Equality Score
18        Australia        0.860293  19.0          Poverty and Equality Score
19           Greece        0.859936  20.0          Poverty and Equality Score
20          Ireland        0.859119  21.0          Poverty and Equality Score
21          Estonia        0.837482  22.0          Poverty and Equality Score
22          Hungary        0.831369  23.0          Poverty and Equality Score
23            Italy        0.830410  24.0          Poverty and Equality Score
24          Croatia        0.823170  25.0          Poverty and Equality Score
25        Lithuania        0.822531  26.0          Poverty and Equality Score
26    United States        0.821195  27.0          Poverty and Equality Score
27         Bulgaria        0.798987  28.0          Poverty and Equality Score
28       Costa Rica        0.795641  29.0          Poverty and Equality Score
29          Uruguay        0.780621  30.0          Poverty and Equality Score
30          Romania        0.771200  31.0          Poverty and Equality Score
31            Chile        0.746217  32.0          Poverty and Equality Score
32      Korea, Rep.        0.737389  33.0          Poverty and Equality Score
33           Israel        0.720559  34.0          Poverty and Equality Score
34            Japan        0.699632  35.0          Poverty and Equality Score
35        Argentina        0.679279  36.0          Poverty and Equality Score
36          Tunisia        0.572958  37.0          Poverty and Equality Score
37           Brazil        0.523834  38.0          Poverty and Equality Score
38             Peru        0.516681  39.0          Poverty and Equality Score
39           Panama        0.483644  40.0          Poverty and Equality Score
40        Indonesia        0.379804  41.0          Poverty and Equality Score
41           Israel        0.864160   1.0  Climate, Safety and Security Score
42           Sweden        0.835015   2.0  Climate, Safety and Security Score
43        Lithuania        0.819215   3.0  Climate, Safety and Security Score
44          Denmark        0.818862   4.0  Climate, Safety and Security Score
45      Switzerland        0.810850   5.0  Climate, Safety and Security Score
46          Hungary        0.810650   6.0  Climate, Safety and Security Score
47          Romania        0.796049   7.0  Climate, Safety and Security Score
48          Finland        0.794546   8.0  Climate, Safety and Security Score
49           Greece        0.792408   9.0  Climate, Safety and Security Score
50         Bulgaria        0.782941  10.0  Climate, Safety and Security Score
51           France        0.779440  11.0  Climate, Safety and Security Score
52         Slovenia        0.777284  12.0  Climate, Safety and Security Score
53           Norway        0.775991  13.0  Climate, Safety and Security Score
54         Portugal        0.775723  14.0  Climate, Safety and Security Score
55          Croatia        0.773912  15.0  Climate, Safety and Security Score
56            Spain        0.767940  16.0  Climate, Safety and Security Score
57          Estonia        0.765675  17.0  Climate, Safety and Security Score
58          Austria        0.764584  18.0  Climate, Safety and Security Score
59   United Kingdom        0.764530  19.0  Climate, Safety and Security Score
60            Italy        0.763009  20.0  Climate, Safety and Security Score
61          Ireland        0.760700  21.0  Climate, Safety and Security Score
62          Germany        0.754413  22.0  Climate, Safety and Security Score
63          Czechia        0.749312  23.0  Climate, Safety and Security Score
64      Netherlands        0.744912  24.0  Climate, Safety and Security Score
65           Poland        0.733288  25.0  Climate, Safety and Security Score
66          Belgium        0.722652  26.0  Climate, Safety and Security Score
67          Tunisia        0.702215  27.0  Climate, Safety and Security Score
68          Uruguay        0.677718  28.0  Climate, Safety and Security Score
69      Korea, Rep.        0.640267  29.0  Climate, Safety and Security Score
70        Argentina        0.623053  30.0  Climate, Safety and Security Score
71            Japan        0.619227  31.0  Climate, Safety and Security Score
72      New Zealand        0.606505  32.0  Climate, Safety and Security Score
73            Chile        0.605988  33.0  Climate, Safety and Security Score
74             Peru        0.531356  34.0  Climate, Safety and Security Score
75           Canada        0.518446  35.0  Climate, Safety and Security Score
76        Australia        0.518425  36.0  Climate, Safety and Security Score
77       Costa Rica        0.518128  37.0  Climate, Safety and Security Score
78           Panama        0.491896  38.0  Climate, Safety and Security Score
79           Brazil        0.468051  39.0  Climate, Safety and Security Score
80        Indonesia        0.432947  40.0  Climate, Safety and Security Score
81    United States        0.414772  41.0  Climate, Safety and Security Score
82          Denmark        0.837026   1.0        Education & Healthcare Score
83      Netherlands        0.759991   2.0        Education & Healthcare Score
84           Norway        0.738555   3.0        Education & Healthcare Score
85          Finland        0.731824   4.0        Education & Healthcare Score
86            Japan        0.725710   5.0        Education & Healthcare Score
87      Korea, Rep.        0.724778   6.0        Education & Healthcare Score
88        Australia        0.711648   7.0        Education & Healthcare Score
89          Germany        0.704409   8.0        Education & Healthcare Score
90           France        0.698294   9.0        Education & Healthcare Score
91           Sweden        0.692707  10.0        Education & Healthcare Score
92          Belgium        0.680232  11.0        Education & Healthcare Score
93          Austria        0.672904  12.0        Education & Healthcare Score
94   United Kingdom        0.661182  13.0        Education & Healthcare Score
95      Switzerland        0.651111  14.0        Education & Healthcare Score
96            Spain        0.634001  15.0        Education & Healthcare Score
97      New Zealand        0.628542  16.0        Education & Healthcare Score
98          Estonia        0.593336  17.0        Education & Healthcare Score
99          Czechia        0.586446  18.0        Education & Healthcare Score
100          Canada        0.577031  19.0        Education & Healthcare Score
101          Israel        0.572326  20.0        Education & Healthcare Score
102        Slovenia        0.559960  21.0        Education & Healthcare Score
103        Portugal        0.559231  22.0        Education & Healthcare Score
104       Lithuania        0.552509  23.0        Education & Healthcare Score
105   United States        0.523819  24.0        Education & Healthcare Score
106         Ireland        0.498867  25.0        Education & Healthcare Score
107          Poland        0.428961  26.0        Education & Healthcare Score
108           Italy        0.421063  27.0        Education & Healthcare Score
109       Argentina        0.410825  28.0        Education & Healthcare Score
110           Chile        0.402499  29.0        Education & Healthcare Score
111         Uruguay        0.400196  30.0        Education & Healthcare Score
112      Costa Rica        0.378198  31.0        Education & Healthcare Score
113          Greece        0.364170  32.0        Education & Healthcare Score
114         Croatia        0.363031  33.0        Education & Healthcare Score
115         Hungary        0.352410  34.0        Education & Healthcare Score
116       Indonesia        0.269811  35.0        Education & Healthcare Score
117          Panama        0.258548  36.0        Education & Healthcare Score
118        Bulgaria        0.249576  37.0        Education & Healthcare Score
119         Romania        0.247628  38.0        Education & Healthcare Score
120            Peru        0.243064  39.0        Education & Healthcare Score
121          Brazil        0.194145  40.0        Education & Healthcare Score
122         Tunisia        0.185797  41.0        Education & Healthcare Score
123     New Zealand        0.832955   1.0         Happiness and Freedom Score
124         Denmark        0.784889   2.0         Happiness and Freedom Score
125          Canada        0.764620   3.0         Happiness and Freedom Score
126       Australia        0.751050   4.0         Happiness and Freedom Score
127     Switzerland        0.750781   5.0         Happiness and Freedom Score
128         Ireland        0.738444   6.0         Happiness and Freedom Score
129      Costa Rica        0.735219   7.0         Happiness and Freedom Score
130          Sweden        0.726467   8.0         Happiness and Freedom Score
131  United Kingdom        0.714452   9.0         Happiness and Freedom Score
132          Norway        0.702403  10.0         Happiness and Freedom Score
133         Finland        0.694918  11.0         Happiness and Freedom Score
134   United States        0.685163  12.0         Happiness and Freedom Score
135         Belgium        0.666717  13.0         Happiness and Freedom Score
136         Czechia        0.658236  14.0         Happiness and Freedom Score
137     Netherlands        0.644891  15.0         Happiness and Freedom Score
138         Germany        0.644065  16.0         Happiness and Freedom Score
139          Panama        0.625121  17.0         Happiness and Freedom Score
140         Romania        0.620475  18.0         Happiness and Freedom Score
141         Austria        0.607233  19.0         Happiness and Freedom Score
142         Estonia        0.603865  20.0         Happiness and Freedom Score
143           Japan        0.600691  21.0         Happiness and Freedom Score
144          Israel        0.596372  22.0         Happiness and Freedom Score
145           Spain        0.575792  23.0         Happiness and Freedom Score
146           Chile        0.562010  24.0         Happiness and Freedom Score
147            Peru        0.548568  25.0         Happiness and Freedom Score
148          Poland        0.541959  26.0         Happiness and Freedom Score
149          France        0.531110  27.0         Happiness and Freedom Score
150       Lithuania        0.525909  28.0         Happiness and Freedom Score
151     Korea, Rep.        0.519215  29.0         Happiness and Freedom Score
152        Bulgaria        0.518028  30.0         Happiness and Freedom Score
153           Italy        0.506975  31.0         Happiness and Freedom Score
154         Uruguay        0.491984  32.0         Happiness and Freedom Score
155         Hungary        0.489731  33.0         Happiness and Freedom Score
156         Croatia        0.461294  34.0         Happiness and Freedom Score
157       Indonesia        0.459467  35.0         Happiness and Freedom Score
158        Slovenia        0.451006  36.0         Happiness and Freedom Score
159        Portugal        0.449822  37.0         Happiness and Freedom Score
160       Argentina        0.369050  38.0         Happiness and Freedom Score
161          Greece        0.365084  39.0         Happiness and Freedom Score
162          Brazil        0.338941  40.0         Happiness and Freedom Score
163         Tunisia        0.231734  41.0         Happiness and Freedom Score
164       Argentina        0.469029  37.0         Final Quality of Life Score
165       Australia        0.737815   9.0         Final Quality of Life Score
166         Austria        0.694426  13.0         Final Quality of Life Score
167         Belgium        0.737908   8.0         Final Quality of Life Score
168          Brazil        0.345392  40.0         Final Quality of Life Score
169        Bulgaria        0.520175  34.0         Final Quality of Life Score
170          Canada        0.706428  12.0         Final Quality of Life Score
171           Chile        0.555396  30.0         Final Quality of Life Score
172      Costa Rica        0.618488  24.0         Final Quality of Life Score
173         Croatia        0.535452  33.0         Final Quality of Life Score
174         Czechia        0.687097  15.0         Final Quality of Life Score
175         Denmark        0.838046   1.0         Final Quality of Life Score
176         Estonia        0.663611  18.0         Final Quality of Life Score
177         Finland        0.757865   5.0         Final Quality of Life Score
178          France        0.680348  16.0         Final Quality of Life Score
179         Germany        0.726566  11.0         Final Quality of Life Score
180          Greece        0.506512  35.0         Final Quality of Life Score
181         Hungary        0.548954  31.0         Final Quality of Life Score
182       Indonesia        0.383986  39.0         Final Quality of Life Score
183         Ireland        0.692931  14.0         Final Quality of Life Score
184          Israel        0.640774  20.0         Final Quality of Life Score
185           Italy        0.571492  28.0         Final Quality of Life Score
186           Japan        0.659839  19.0         Final Quality of Life Score
187     Korea, Rep.        0.636624  22.0         Final Quality of Life Score
188       Lithuania        0.622544  23.0         Final Quality of Life Score
189     Netherlands        0.743985   7.0         Final Quality of Life Score
190     New Zealand        0.760850   4.0         Final Quality of Life Score
191          Norway        0.770095   2.0         Final Quality of Life Score
192          Panama        0.473531  36.0         Final Quality of Life Score
193            Peru        0.448818  38.0         Final Quality of Life Score
194          Poland        0.594515  27.0         Final Quality of Life Score
195        Portugal        0.601507  26.0         Final Quality of Life Score
196         Romania        0.556323  29.0         Final Quality of Life Score
197        Slovenia        0.604383  25.0         Final Quality of Life Score
198           Spain        0.679009  17.0         Final Quality of Life Score
199          Sweden        0.766137   3.0         Final Quality of Life Score
200     Switzerland        0.752492   6.0         Final Quality of Life Score
201         Tunisia        0.333246  41.0         Final Quality of Life Score
202  United Kingdom        0.737703  10.0         Final Quality of Life Score
203   United States        0.636927  21.0         Final Quality of Life Score
204         Uruguay        0.540748  32.0         Final Quality of Life Score

Getting cost of living subindex indicators and final score.

In [60]:
cost_of_living_final_ranking = (final_data[final_data['subindex']=='Cost of Living']
                                .groupby(['country'], as_index=False)['subindex_score'].sum()
                                .sort_values(by='subindex_score', ascending=False)
                                .reset_index(drop=True)
                                .assign(rank=lambda x: x.subindex_score.rank(ascending=False, method='min'),
                                        area='Final Cost of living Score'))

In [61]:
cost_of_living_final_ranking

           country  subindex_score  rank                        area
0         Bulgaria        0.822577   1.0  Final Cost of living Score
1          Romania        0.768423   2.0  Final Cost of living Score
2          Estonia        0.684274   3.0  Final Cost of living Score
3          Hungary        0.674833   4.0  Final Cost of living Score
4        Lithuania        0.666848   5.0  Final Cost of living Score
5       Costa Rica        0.650979   6.0  Final Cost of living Score
6           Panama        0.646243   7.0  Final Cost of living Score
7          Tunisia        0.642487   8.0  Final Cost of living Score
8          Croatia        0.625851   9.0  Final Cost of living Score
9          Belgium        0.615161  10.0  Final Cost of living Score
10           Spain        0.609592  11.0  Final Cost of living Score
11         Czechia        0.594723  12.0  Final Cost of living Score
12   United States        0.588425  13.0  Final Cost of living Score
13          Poland        0.587979  14.0  Final Cost of living Score
14          Brazil        0.582972  15.0  Final Cost of living Score
15           Italy        0.571085  16.0  Final Cost of living Score
16          Greece        0.562570  17.0  Final Cost of living Score
17            Peru        0.552801  18.0  Final Cost of living Score
18        Slovenia        0.544418  19.0  Final Cost of living Score
19       Indonesia        0.542340  20.0  Final Cost of living Score
20  United Kingdom        0.539105  21.0  Final Cost of living Score
21          Norway        0.531374  22.0  Final Cost of living Score
22     Netherlands        0.530461  23.0  Final Cost of living Score
23         Finland        0.530177  24.0  Final Cost of living Score
24          Canada        0.526012  25.0  Final Cost of living Score
25         Denmark        0.525897  26.0  Final Cost of living Score
26           Chile        0.520767  27.0  Final Cost of living Score
27         Ireland        0.516181  28.0  Final Cost of living Score
28         Germany        0.515669  29.0  Final Cost of living Score
29         Uruguay        0.515587  30.0  Final Cost of living Score
30        Portugal        0.511864  31.0  Final Cost of living Score
31     New Zealand        0.509719  32.0  Final Cost of living Score
32          Sweden        0.497563  33.0  Final Cost of living Score
33           Japan        0.491197  34.0  Final Cost of living Score
34          France        0.490366  35.0  Final Cost of living Score
35       Argentina        0.482538  36.0  Final Cost of living Score
36       Australia        0.479953  37.0  Final Cost of living Score
37         Austria        0.474944  38.0  Final Cost of living Score
38          Israel        0.371602  39.0  Final Cost of living Score
39     Switzerland        0.367809  40.0  Final Cost of living Score
40     Korea, Rep.        0.305652  41.0  Final Cost of living Score

Getting growth and development subindex indicators and final score.

In [62]:
growth_final_ranking = (final_data[final_data['subindex']=='Growth and Development']
                        .groupby(['country'], as_index=False)['subindex_score'].sum()
                        .sort_values(by='subindex_score', ascending=False)
                        .reset_index(drop=True)
                        .assign(rank=lambda x: x.subindex_score.rank(ascending=False, method='min'),
                                area='Final Growth and Development Score'))

In [63]:
growth_final_ranking

           country  subindex_score  rank                                area
0          Ireland        0.621137   1.0  Final Growth and Development Score
1    United States        0.595113   2.0  Final Growth and Development Score
2           France        0.564281   3.0  Final Growth and Development Score
3           Poland        0.549216   4.0  Final Growth and Development Score
4            Spain        0.523135   5.0  Final Growth and Development Score
5          Denmark        0.514168   6.0  Final Growth and Development Score
6      New Zealand        0.511081   7.0  Final Growth and Development Score
7   United Kingdom        0.509855   8.0  Final Growth and Development Score
8           Canada        0.499658   9.0  Final Growth and Development Score
9        Lithuania        0.495650  10.0  Final Growth and Development Score
10         Croatia        0.463523  11.0  Final Growth and Development Score
11          Sweden        0.463432  12.0  Final Growth and Development Score
12         Austria        0.461316  13.0  Final Growth and Development Score
13          Israel        0.459632  14.0  Final Growth and Development Score
14         Germany        0.449084  15.0  Final Growth and Development Score
15       Australia        0.443845  16.0  Final Growth and Development Score
16        Portugal        0.440687  17.0  Final Growth and Development Score
17          Norway        0.438477  18.0  Final Growth and Development Score
18     Korea, Rep.        0.432276  19.0  Final Growth and Development Score
19         Finland        0.422178  20.0  Final Growth and Development Score
20         Hungary        0.419640  21.0  Final Growth and Development Score
21        Slovenia        0.416256  22.0  Final Growth and Development Score
22     Netherlands        0.408019  23.0  Final Growth and Development Score
23           Italy        0.387469  24.0  Final Growth and Development Score
24         Czechia        0.378008  25.0  Final Growth and Development Score
25      Costa Rica        0.375397  26.0  Final Growth and Development Score
26         Estonia        0.374873  27.0  Final Growth and Development Score
27     Switzerland        0.369911  28.0  Final Growth and Development Score
28         Belgium        0.369129  29.0  Final Growth and Development Score
29         Romania        0.363339  30.0  Final Growth and Development Score
30           Japan        0.339791  31.0  Final Growth and Development Score
31          Greece        0.330581  32.0  Final Growth and Development Score
32           Chile        0.328010  33.0  Final Growth and Development Score
33        Bulgaria        0.320113  34.0  Final Growth and Development Score
34       Indonesia        0.318724  35.0  Final Growth and Development Score
35            Peru        0.296901  36.0  Final Growth and Development Score
36          Panama        0.290535  37.0  Final Growth and Development Score
37       Argentina        0.279758  38.0  Final Growth and Development Score
38         Tunisia        0.244982  39.0  Final Growth and Development Score
39         Uruguay        0.231792  40.0  Final Growth and Development Score
40          Brazil        0.165937  41.0  Final Growth and Development Score

### Calculation of final scores

The final index score is obtained by summing the weighted scores of all the indicators.

In [64]:
final_scores = (final_data
                .groupby('country', as_index=False)['total_score'].sum()
                .assign(rank=lambda x: x.total_score.rank(ascending=False, method='min'),
                        area='Final Score')
                .rename(columns={'total_score': 'subindex_score'}))

In [65]:
final_scores.sort_values(by='rank').reset_index(drop=True)

           country  subindex_score  rank         area
0          Denmark        0.719658   1.0  Final Score
1           Norway        0.674120   2.0  Final Score
2          Ireland        0.662085   3.0  Final Score
3      Switzerland        0.661969   4.0  Final Score
4           Sweden        0.658507   5.0  Final Score
5          Germany        0.651510   6.0  Final Score
6      Netherlands        0.651481   7.0  Final Score
7      New Zealand        0.651373   8.0  Final Score
8    United States        0.648600   9.0  Final Score
9          Belgium        0.647564  10.0  Final Score
10         Finland        0.643992  11.0  Final Score
11  United Kingdom        0.643544  12.0  Final Score
12       Australia        0.640162  13.0  Final Score
13          Canada        0.634351  14.0  Final Score
14          France        0.617178  15.0  Final Score
15         Czechia        0.614284  16.0  Final Score
16         Estonia        0.613382  17.0  Final Score
17         Austria        0.605712  18.0  Final Score
18           Spain        0.593683  19.0  Final Score
19           Japan        0.581796  20.0  Final Score
20       Lithuania        0.577024  21.0  Final Score
21          Poland        0.557191  22.0  Final Score
22     Korea, Rep.        0.555720  23.0  Final Score
23        Slovenia        0.551344  24.0  Final Score
24          Israel        0.549109  25.0  Final Score
25         Romania        0.542239  26.0  Final Score
26           Italy        0.540967  27.0  Final Score
27        Portugal        0.535183  28.0  Final Score
28         Hungary        0.534516  29.0  Final Score
29        Bulgaria        0.533758  30.0  Final Score
30      Costa Rica        0.530251  31.0  Final Score
31         Croatia        0.523823  32.0  Final Score
32           Chile        0.481155  33.0  Final Score
33          Greece        0.480610  34.0  Final Score
34         Uruguay        0.465852  35.0  Final Score
35          Panama        0.437950  36.0  Final Score
36            Peru        0.418850  37.0  Final Score
37       Argentina        0.408601  38.0  Final Score
38       Indonesia        0.391579  39.0  Final Score
39          Brazil        0.359908  40.0  Final Score
40         Tunisia        0.357128  41.0  Final Score

Concatinating all scores into single df.

In [66]:
scores = pd.concat([final_scores,
                    economy_final_ranking,
                    final_quality_of_life,
                    cost_of_living_final_ranking,
                    growth_final_ranking])

In [67]:
scores.sort_values(by='country').head(7)

      country  subindex_score  rank                                area
0   Argentina        0.408601  38.0                         Final Score
39  Argentina        0.246261  40.0                 Final Economy Score
35  Argentina        0.679279  36.0          Poverty and Equality Score
37  Argentina        0.279758  38.0  Final Growth and Development Score
29  Argentina        0.623053  30.0  Climate, Safety and Security Score
27  Argentina        0.410825  28.0        Education & Healthcare Score
35  Argentina        0.482538  36.0          Final Cost of living Score

Adding scores to final_data df.

In [68]:
final_df = (pd.concat([scores, final_data[['indicator', 'area', 'country', 'rank', 'standardized_score', 'id']]
                       .rename(columns={'standardized_score': 'subindex_score'})]))

In [69]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2337 entries, 0 to 1967
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         2337 non-null   object
 1   subindex_score  2337 non-null   float64
 2   rank            2302 non-null   float64
 3   area            2337 non-null   object
 4   indicator       1968 non-null   object
 5   id              1968 non-null   float64
dtypes: float64(3), object(3)
memory usage: 127.8+ KB

Adding missing ID's to new scores.

In [70]:
final_df[final_df['country'] == 'Argentina'].sort_values(by='id')

,country,subindex_score,rank,area,indicator,id
1066,Argentina,0.120839,36.0,All,GDP per Capita PPP,1.0
1230,Argentina,0.674242,25.0,All,Unemployment Rate,2.0
1148,Argentina,0.000000,41.0,All,Inflation Rate,3.0
1435,Argentina,0.101974,36.0,All,Local purchasing power index (points),4.0
1300,Argentina,0.122890,30.0,All,Average monthly wage,5.0
1020,Argentina,0.475758,NaN,All,Business Confidence,6.0
820,Argentina,0.000000,36.0,Happiness and Freedom,Strength of legal rights index (0=weak to 12=s...,7.0
1640,Argentina,0.695793,22.0,Happiness and Freedom,Personal freedom score,8.0
1914,Argentina,0.491233,29.0,Happiness and Freedom,Happiness index,9.0
1681,Argentina,0.000000,41.0,Happiness and Freedom,Economic freedom score,10.0
1957,Argentina,0.545455,7.0,Happiness and Freedom,Depression rate,11.0
861,Argentina,0.770992,12.0,Happiness and Freedom,"Suicide mortality rate (per 100,000 population)",12.0
1763,Argentina,0.380000,30.0,Education & Healthcare,International Education Database,13.0
246,Argentina,0.300019,19.0,Education & Healthcare,"Government expenditure on education, total (% ...",14.0
902,Argentina,0.918760,14.0,Education & Healthcare,Unemployment with advanced education (% of tot...,15.0
738,Argentina,0.934070,2.0,Education & Healthcare,"School enrollment, tertiary (% gross)",16.0
779,Argentina,0.412404,29.0,Education & Healthcare,"Share of youth not in education, employment or...",17.0
1742,Argentina,0.299534,21.0,Education & Healthcare,CEO health care index,18.0
1804,Argentina,0.120000,38.0,Education & Healthcare,Legatum health care ranking,19.0
1579,Argentina,0.548077,22.0,Education & Healthcare,Numbeo health index,20.0
533,Argentina,0.604602,13.0,Education & Healthcare,"Physicians (per 1,000 people)",21.0
1108,Argentina,0.255265,NaN,Education & Healthcare,Hospital Beds,22.0
82,Argentina,0.858875,7.0,"Climate, Safety and Security",Average precipitation in depth (mm per year),23.0
123,Argentina,0.846485,9.0,"Climate, Safety and Security",CO2 emissions (metric tons per capita),24.0
1599,Argentina,0.638429,34.0,"Climate, Safety and Security",Vulnerability and exposure to natural hazards,25.0
328,Argentina,0.770528,35.0,"Climate, Safety and Security","Intentional homicides (per 100,000 people)",26.0
410,Argentina,0.166667,36.0,"Climate, Safety and Security",Mortality caused by road traffic injury (per 1...,27.0
41,Argentina,0.055671,26.0,"Climate, Safety and Security",Armed forces personnel (% of total labor force),28.0
615,Argentina,0.809524,26.0,Poverty and Equality,Poverty gap at $2.15 a day (2017 PPP) (%),29.0
492,Argentina,0.863749,34.0,Poverty and Equality,People using at least basic drinking water ser...,30.0
656,Argentina,0.279503,39.0,Poverty and Equality,Prevalence of moderate or severe food insecuri...,31.0
0,Argentina,1.000000,1.0,Poverty and Equality,Access to electricity (% of population),32.0
287,Argentina,0.678776,24.0,Poverty and Equality,Individuals using the Internet (% of population),33.0
1853,Argentina,0.833333,9.0,Poverty and Equality,Gender wage gap (%),34.0
943,Argentina,0.421053,37.0,Poverty and Equality,Women Business and the Law Index Score (scale ...,35.0
697,Argentina,0.888081,6.0,Poverty and Equality,Proportion of seats held by women in national ...,36.0
1477,Argentina,0.153488,40.0,All,Price to Income Ratio (%),37.0
1518,Argentina,0.000000,41.0,All,Mortgage affordability index,38.0
1312,Argentina,0.957965,2.0,All,Rent cost index (points),39.0
1189,Argentina,0.467519,14.0,All,Personal Income Tax Rate,40.0
1353,Argentina,0.998867,2.0,All,Groceries cost index (points),41.0
1394,Argentina,0.869611,5.0,All,Restaurant cost index (points),42.0
164,Argentina,0.000000,41.0,All,Ease of doing business score (0 = lowest perfo...,43.0
369,Argentina,0.057976,17.0,All,"International tourism, number of arrivals",44.0
451,Argentina,0.030067,31.0,All,Net migration,45.0
205,Argentina,0.869510,3.0,All,Exports of goods and services (annual % growth),46.0
1025,Argentina,0.452331,11.0,All,Full Year GDP Growth,47.0
574,Argentina,0.877384,6.0,All,Population growth (annual %),48.0
0,Argentina,0.408601,38.0,Final Score,NaN,NaN
39,Argentina,0.246261,40.0,Final Economy Score,NaN,NaN
35,Argentina,0.679279,36.0,Poverty and Equality Score,NaN,NaN
29,Argentina,0.623053,30.0,"Climate, Safety and Security Score",NaN,NaN
27,Argentina,0.410825,28.0,Education & Healthcare Score,NaN,NaN
37,Argentina,0.369050,38.0,Happiness and Freedom Score,NaN,NaN
0,Argentina,0.469029,37.0,Final Quality of Life Score,NaN,NaN
35,Argentina,0.482538,36.0,Final Cost of living Score,NaN,NaN
37,Argentina,0.279758,38.0,Final Growth and Development Score,NaN,NaN

In [71]:
final_df.loc[final_df['area'] == 'Final Economy Score', 'id'] = 0.5
final_df.loc[final_df['area'] == 'Poverty and Equality Score', 'id'] = 28.5
final_df.loc[final_df['area'] == 'Climate, Safety and Security Score', 'id'] = 22.5
final_df.loc[final_df['area'] == 'Education & Healthcare Score', 'id'] = 12.5
final_df.loc[final_df['area'] == 'Happiness and Freedom Score', 'id'] = 6.5
final_df.loc[final_df['area'] == 'Final Cost of living Score', 'id'] = 36.5
final_df.loc[final_df['area'] == 'Final Growth and Development Score', 'id'] = 42.5

In [72]:
final_df[final_df['country'] == 'Argentina'].sort_values(by='id')

,country,subindex_score,rank,area,indicator,id
39,Argentina,0.246261,40.0,Final Economy Score,NaN,0.5
1066,Argentina,0.120839,36.0,All,GDP per Capita PPP,1.0
1230,Argentina,0.674242,25.0,All,Unemployment Rate,2.0
1148,Argentina,0.000000,41.0,All,Inflation Rate,3.0
1435,Argentina,0.101974,36.0,All,Local purchasing power index (points),4.0
1300,Argentina,0.122890,30.0,All,Average monthly wage,5.0
1020,Argentina,0.475758,NaN,All,Business Confidence,6.0
37,Argentina,0.369050,38.0,Happiness and Freedom Score,NaN,6.5
820,Argentina,0.000000,36.0,Happiness and Freedom,Strength of legal rights index (0=weak to 12=s...,7.0
1640,Argentina,0.695793,22.0,Happiness and Freedom,Personal freedom score,8.0
1914,Argentina,0.491233,29.0,Happiness and Freedom,Happiness index,9.0
1681,Argentina,0.000000,41.0,Happiness and Freedom,Economic freedom score,10.0
1957,Argentina,0.545455,7.0,Happiness and Freedom,Depression rate,11.0
861,Argentina,0.770992,12.0,Happiness and Freedom,"Suicide mortality rate (per 100,000 population)",12.0
27,Argentina,0.410825,28.0,Education & Healthcare Score,NaN,12.5
1763,Argentina,0.380000,30.0,Education & Healthcare,International Education Database,13.0
246,Argentina,0.300019,19.0,Education & Healthcare,"Government expenditure on education, total (% ...",14.0
902,Argentina,0.918760,14.0,Education & Healthcare,Unemployment with advanced education (% of tot...,15.0
738,Argentina,0.934070,2.0,Education & Healthcare,"School enrollment, tertiary (% gross)",16.0
779,Argentina,0.412404,29.0,Education & Healthcare,"Share of youth not in education, employment or...",17.0
1742,Argentina,0.299534,21.0,Education & Healthcare,CEO health care index,18.0
1804,Argentina,0.120000,38.0,Education & Healthcare,Legatum health care ranking,19.0
1579,Argentina,0.548077,22.0,Education & Healthcare,Numbeo health index,20.0
533,Argentina,0.604602,13.0,Education & Healthcare,"Physicians (per 1,000 people)",21.0
1108,Argentina,0.255265,NaN,Education & Healthcare,Hospital Beds,22.0
29,Argentina,0.623053,30.0,"Climate, Safety and Security Score",NaN,22.5
82,Argentina,0.858875,7.0,"Climate, Safety and Security",Average precipitation in depth (mm per year),23.0
123,Argentina,0.846485,9.0,"Climate, Safety and Security",CO2 emissions (metric tons per capita),24.0
1599,Argentina,0.638429,34.0,"Climate, Safety and Security",Vulnerability and exposure to natural hazards,25.0
328,Argentina,0.770528,35.0,"Climate, Safety and Security","Intentional homicides (per 100,000 people)",26.0
410,Argentina,0.166667,36.0,"Climate, Safety and Security",Mortality caused by road traffic injury (per 1...,27.0
41,Argentina,0.055671,26.0,"Climate, Safety and Security",Armed forces personnel (% of total labor force),28.0
35,Argentina,0.679279,36.0,Poverty and Equality Score,NaN,28.5
615,Argentina,0.809524,26.0,Poverty and Equality,Poverty gap at $2.15 a day (2017 PPP) (%),29.0
492,Argentina,0.863749,34.0,Poverty and Equality,People using at least basic drinking water ser...,30.0
656,Argentina,0.279503,39.0,Poverty and Equality,Prevalence of moderate or severe food insecuri...,31.0
0,Argentina,1.000000,1.0,Poverty and Equality,Access to electricity (% of population),32.0
287,Argentina,0.678776,24.0,Poverty and Equality,Individuals using the Internet (% of population),33.0
1853,Argentina,0.833333,9.0,Poverty and Equality,Gender wage gap (%),34.0
943,Argentina,0.421053,37.0,Poverty and Equality,Women Business and the Law Index Score (scale ...,35.0
697,Argentina,0.888081,6.0,Poverty and Equality,Proportion of seats held by women in national ...,36.0
35,Argentina,0.482538,36.0,Final Cost of living Score,NaN,36.5
1477,Argentina,0.153488,40.0,All,Price to Income Ratio (%),37.0
1518,Argentina,0.000000,41.0,All,Mortgage affordability index,38.0
1312,Argentina,0.957965,2.0,All,Rent cost index (points),39.0
1189,Argentina,0.467519,14.0,All,Personal Income Tax Rate,40.0
1353,Argentina,0.998867,2.0,All,Groceries cost index (points),41.0
1394,Argentina,0.869611,5.0,All,Restaurant cost index (points),42.0
37,Argentina,0.279758,38.0,Final Growth and Development Score,NaN,42.5
164,Argentina,0.000000,41.0,All,Ease of doing business score (0 = lowest perfo...,43.0
369,Argentina,0.057976,17.0,All,"International tourism, number of arrivals",44.0
451,Argentina,0.030067,31.0,All,Net migration,45.0
205,Argentina,0.869510,3.0,All,Exports of goods and services (annual % growth),46.0
1025,Argentina,0.452331,11.0,All,Full Year GDP Growth,47.0
574,Argentina,0.877384,6.0,All,Population growth (annual %),48.0
0,Argentina,0.408601,38.0,Final Score,NaN,NaN
0,Argentina,0.469029,37.0,Final Quality of Life Score,NaN,NaN

Adding suffixes to the ranks, indicators that have no available data will be marked with a dash ('-') to indicate the absence of data and rank. However, these indicators will still be assigned the mean score of the respective indicator to ensure continuity when compared with other countries.

In [73]:
def add_suffix(number):
    p = inflect.engine()
    number = str(number).replace('.0', '')
    try:
        suffix = p.ordinal(number)
    except:
        suffix = '-'
    return suffix

In [74]:
final_df['rank'] = final_df['rank'].apply(add_suffix).astype('str').replace('nanth','-')

In [75]:
final_df.head()

     country  subindex_score  rank         area indicator  id
0  Argentina        0.408601  38th  Final Score       NaN NaN
1  Australia        0.640162  13th  Final Score       NaN NaN
2    Austria        0.605712  18th  Final Score       NaN NaN
3    Belgium        0.647564  10th  Final Score       NaN NaN
4     Brazil        0.359908  40th  Final Score       NaN NaN

In [76]:
final_df[final_df['area'] == 'Final Score']['subindex_score'].mean()

0.56457824376777

In [77]:
final_df[final_df['area'] == 'Final Economy Score']['subindex_score'].mean()

0.5236367138821586

In [78]:
final_df[final_df['area'] == 'Final Quality of Life Score']['subindex_score'].mean()

0.622877262744689

In [79]:
final_df[final_df['area'] == 'Final Cost of living Score']['subindex_score'].mean()

0.5553419216981211

In [80]:
final_df[final_df['area'] == 'Final Growth and Development Score']['subindex_score'].mean()

0.4113879212093164

Getting all final inidicator, sub index and total scores for each country stored in individual files.

In [81]:
countries = list(final_df['country'].unique())

In [82]:
countries

['Argentina',
 'Australia',
 'Austria',
 'Belgium',
 'Brazil',
 'Bulgaria',
 'Canada',
 'Chile',
 'Costa Rica',
 'Croatia',
 'Czechia',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Indonesia',
 'Ireland',
 'Israel',
 'Italy',
 'Japan',
 'Korea, Rep.',
 'Lithuania',
 'Netherlands',
 'New Zealand',
 'Norway',
 'Panama',
 'Peru',
 'Poland',
 'Portugal',
 'Romania',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'Tunisia',
 'United Kingdom',
 'United States',
 'Uruguay']

In [83]:
for c in countries:
    df = final_df[final_df['country'] == c].sort_values(by='id')
    df.to_csv(f'countries/{str(c)}.csv', index=False)